.racket-card {
  align-items: center;
  padding: 20px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
}

.profile-pic {
  background-color: white;
  height: 100px;
  width: 100px;
  object-fit: contain;
  border-radius: 50%;
  margin: auto;
}

.head-card {
  text-align: center;
  margin-left: 5px;
  margin-top: 17px;
  margin-bottom: 35px;
  font-size: 20px;
}
.star-wrap {
  width: 100%;
  height: 20px;
  padding-top: 10px;
  padding-left: -10px;
  margin-bottom: 10px;
}
.body-card {
  margin-top: 15px;
  margin-left: 5px;
  margin-bottom: 10px;
}
.price-card {
  margin-left: 5px;
  font-size: 23px;
}

::ng-deep label.star {
  padding: 0 2px !important;
  font-size: 20px !important;
  transition: all 0s !important;
}

::ng-deep label.star:before {
  content: "\f005" !important;
}

::ng-deep label.star:hover {
  transform: rotate(0deg) scale(1) !important;
}

::ng-deep input.star-5:checked ~ label.star:before {
  color: #fe7;
  text-shadow: 0 0 0px #952 !important;
}
.btn {
  margin-top: 10px;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 15px;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: white;
  background-color: #016dd9;
}

.btn:hover {
  background-color: #004285;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
