<div class="racket-card">
  <div style="text-align: center">
    <img class="profile-pic" src="{{ imgpath }}" alt="profile-pic" />
  </div>
  <div class="head-card">
    <p style="max-height: 16px">{{ data.name }}</p>
  </div>
  <hr style="margin-bottom: 0px;" />
  <div class="body-card">
    <p style="font-size: 16px"><b>Marca: </b>{{ data.brand }}</p>
    <p style="font-size: 16px"><b>Temporada: </b>{{ data.season }}</p>
  </div>
  <div class="price-card">
    <p style="font-size: 16px"><b>Precio:</b> {{ data.price }}€</p>
    <div style="text-align: center">
      <a [routerLink]="['/racket', data._id]">
        <button class="btn">Ver detalles</button>
      </a>
    </div>
  </div>
</div>
