<div class="chat-wrapper">
  <div class="chat-box">
    <div class="contacts">
      <div class="searcher-wrap">
        <div class="search">
          <div style="display: flex"><mat-icon>search</mat-icon></div>
          <input
            style="width: 140px; height: 24px; border: none"
            placeholder="Busca un contacto"
            type="text"
          />
        </div>
      </div>
      <div style="max-height: 90%; overflow-y: auto; overflow-x: hidden">
        <div class="contact">
          <img
            class="imagee"
            [src]="'http://localhost:4000/imgs/ja-morant-hd_3000x2000.jpg'"
            alt=""
          />
          <div style="display: flex; flex-direction: column; padding: 10px">
            <div>Juan Lebron</div>
            <div style="font-weight: 200">hola alex que..</div>
          </div>
        </div>
        <div class="contact">
          <img
            class="imagee"
            [src]="'http://localhost:4000/imgs/ja-morant-hd_3000x2000.jpg'"
            alt=""
          />
          <div style="display: flex; flex-direction: column; padding: 10px">
            <div>Juan Lebron</div>
            <div style="font-weight: 200">hola alex que..</div>
          </div>
        </div>
        <div class="contact">
          <img
            class="imagee"
            [src]="'http://localhost:4000/imgs/ja-morant-hd_3000x2000.jpg'"
            alt=""
          />
          <div style="display: flex; flex-direction: column; padding: 10px">
            <div>Juan Lebron</div>
            <div style="font-weight: 200">hola alex que..</div>
          </div>
        </div>
        <div class="contact">
          <img
            class="imagee"
            [src]="'http://localhost:4000/imgs/ja-morant-hd_3000x2000.jpg'"
            alt=""
          />
          <div style="display: flex; flex-direction: column; padding: 10px">
            <div>Juan Lebron</div>
            <div style="font-weight: 200">hola alex que..</div>
          </div>
        </div>
        <div class="contact">
          <img
            class="imagee"
            [src]="'http://localhost:4000/imgs/ja-morant-hd_3000x2000.jpg'"
            alt=""
          />
          <div style="display: flex; flex-direction: column; padding: 10px">
            <div>Juan Lebron</div>
            <div style="font-weight: 200">hola alex que..</div>
          </div>
        </div>
        <div class="contact">
          <img
            class="imagee"
            [src]="'http://localhost:4000/imgs/ja-morant-hd_3000x2000.jpg'"
            alt=""
          />
          <div style="display: flex; flex-direction: column; padding: 10px">
            <div>Juan Lebron</div>
            <div style="font-weight: 200">hola alex que..</div>
          </div>
        </div>
        <div class="contact">
          <img
            class="imagee"
            [src]="'http://localhost:4000/imgs/ja-morant-hd_3000x2000.jpg'"
            alt=""
          />
          <div style="display: flex; flex-direction: column; padding: 10px">
            <div>Juan Lebron</div>
            <div style="font-weight: 200">hola alex que..</div>
          </div>
        </div>
        <div class="contact">
          <img
            class="imagee"
            [src]="'http://localhost:4000/imgs/ja-morant-hd_3000x2000.jpg'"
            alt=""
          />
          <div style="display: flex; flex-direction: column; padding: 10px">
            <div>Juan Lebron</div>
            <div style="font-weight: 200">hola alex que..</div>
          </div>
        </div>
        <div class="contact">
          <img
            class="imagee"
            [src]="'http://localhost:4000/imgs/ja-morant-hd_3000x2000.jpg'"
            alt=""
          />
          <div style="display: flex; flex-direction: column; padding: 10px">
            <div>Juan Lebron</div>
            <div style="font-weight: 200">hola alex que..</div>
          </div>
        </div>
        <div class="contact">
          <img
            class="imagee"
            [src]="'http://localhost:4000/imgs/ja-morant-hd_3000x2000.jpg'"
            alt=""
          />
          <div style="display: flex; flex-direction: column; padding: 10px">
            <div>Juan Lebron</div>
            <div style="font-weight: 200">hola alex que..</div>
          </div>
        </div>
        <div class="contact">
          <img
            class="imagee"
            [src]="'http://localhost:4000/imgs/ja-morant-hd_3000x2000.jpg'"
            alt=""
          />
          <div style="display: flex; flex-direction: column; padding: 10px">
            <div>Juan Lebron</div>
            <div style="font-weight: 200">hola alex que..</div>
          </div>
        </div>
        <div class="contact">
          <img
            class="imagee"
            [src]="'http://localhost:4000/imgs/ja-morant-hd_3000x2000.jpg'"
            alt=""
          />
          <div style="display: flex; flex-direction: column; padding: 10px">
            <div>Juan Lebron</div>
            <div style="font-weight: 200">hola alex que..</div>
          </div>
        </div>
        <div class="contact">
          <img
            class="imagee"
            [src]="'http://localhost:4000/imgs/ja-morant-hd_3000x2000.jpg'"
            alt=""
          />
          <div style="display: flex; flex-direction: column; padding: 10px">
            <div>Juan Lebron</div>
            <div style="font-weight: 200">hola alex que..</div>
          </div>
        </div>
      </div>
    </div>

    <div class="messages">
      <div class="messages-header"></div>
      <div class="messages-body"></div>
      <div class="messages-bottom">
        <div class="write-box">
          <div class="icon-wrap">
            <i class="fas fa-paper-plane plane"></i>
          </div>
          <div class="message-wrap">
            <input
              placeholder="Escribe un mensaje aqui"
              class="input-msg"
              type="text"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
