<div class="modal-wrapper">
    <h1 style="font-weight: 600; margin-bottom: 20px">
      Valora la experiencia con {{ this.data.name }}
    </h1>
    <form action="">
      <div style="">
        <div class="stars-wrap">
          <div style="width: 50%">
            <h1 style="margin-left: 23px" i18n>Establece una puntuación:</h1>
          </div>
          <div style="width: 50%">
            <ngx-star-rating
              [formControl]="rating"
              [id]="'rating3'"
              [disabled]="false"
            ></ngx-star-rating>
          </div>
        </div>
        <div class="desc-wrap">
          <h1 style="margin-top: 20px; margin-left: 46px; float: left" i18n>
            Descripcion:
          </h1>
          <textarea
            class="textarea-desc"
            placeholder="Añade una descripción a tu puntuación"
            [formControl]="description"
          ></textarea>
        </div>
        <div class="button-wrap">
          <button (click)="vote()" class="green-button" i18n>Puntuar</button>
        </div>
      </div>
    </form>
  </div>
  