.page-wrapper {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
}
.tools-wrapper {
  margin: auto;
  width: 1150px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 8px 8px -4px #a4a8a9;
}
.row-wrapper {
  display: flex;
  align-items: center;
}
.filter-wrapper {
  margin-right: 40px;
}
.search-wrapper {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 10px;
}
.cards-wrapper {
  margin: auto;
  width: 1150px;
  display: flex;
  flex-wrap: wrap;
}
.search-input {
  padding-left: 10px;
  border-radius: 5px;
  height: 30px;
  margin: 10px;
}
.btn {
  margin-right: 50px;
  cursor: pointer;
  position: relative;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2em;
  display: inline-block;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: #016dd9;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
mat-form-field {
  padding: 10px;
  padding-bottom: 0px !important;
}
.advert-wrapperr {
  margin-top: 20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.advert {
  box-shadow: 0 8px 8px -4px #a4a8a9;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 5px;
  width: 1100px;
  background-color: white;
}
.advert:hover {
  background-color: #fdfdfd;
}
