.page-wrapper {
  margin-top: 100px;
  min-height: 100vh;
  font-size: 16px;
  font-weight: 500;
}
.tools-wrapper {
  margin: auto;
  width: 50%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 8px 8px -4px #a4a8a9;
  border: 1px solid #d1d1d1;
}
.row-wrapper {
  display: flex;
  align-items: center;
}
.filter-wrapper {
  padding: 20px;
  margin-right: 40px;
}
.search-wrapper {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 8px;
}
.cards-wrapper {
  margin: auto;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
.search-input {
  padding-left: 10px;
  border-radius: 5px;
  height: 30px;
  margin: 10px;
}
.btn {
  margin-top: 10px;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 15px;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: white;
  background-color: #016dd9;
}

.btn:hover {
  background-color: #004285;
}
mat-form-field {
  padding: 10px;
  padding-bottom: 0px !important;
}
.advert-wrapperr {
  margin-top: 20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.advert {
  box-shadow: 0 8px 8px -4px #a4a8a9;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 5px;
  width: 48%;
  background-color: white;
  border: 1px solid #d1d1d1;
}
.advert:hover {
  background-color: #fdfdfd;
}
@media (max-width: 1080px) {
  .row-wrapper {
    flex-direction: column;
  }
  .search-wrapper {
    margin-left: 0px !important;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .order-wrapper {
    width: 80%;
  }
  .filter-wrapper {
    width: 80%;
    margin-right: 0px !important;
  }
}
