<section style="margin-top: 70px">
  <div class="slider">
    <div class="logo-wrapper">PadelChange</div>
    <div class="hdr">
      <h1>¡Bienvenido a PadelChange!</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi officiis
        ipsum officia numquam expedita ullam.
      </p>
      <a href="#" routerLink="/adverts" class="button">Ver anuncios</a>
    </div>
  </div>
</section>

<section>
  <div style="margin-top: 50px; margin-bottom: 10px">
    <h1 style="text-align: center; font-weight: 600">
      ¿Como utilizar PadelChange?
    </h1>
    <h3 style="text-align: center">
      PadelChange es una herramienta muy fácil de utilizar!
    </h3>
    <div class="steps">
      <div class="step">
        <div style="height: 50px"><mat-icon class="icon">search</mat-icon></div>
        <div class="numero-wrap">
          <div class="numero">1</div>
          <div class="rotulo"><b>Busca la pala</b></div>
        </div>
        <div class="step-desc">
          Busca el producto que quieres intercanviar y encuentra algun anuncio
          que cumpla con tus expectativas.
        </div>
      </div>
      <div class="step">
        <div style="height: 50px">
          <mat-icon class="icon">compare_arrows</mat-icon>
        </div>
        <div class="numero-wrap">
          <div class="numero">2</div>
          <div class="rotulo"><b>Negocia</b></div>
        </div>
        <div class="step-desc">
          Negocia con otro usuario para llegar a un acuerdo y poder realizar el
          intercambio. El chat que dispone nuestra aplicación es una herramienta
          muy util y fácil de usar.
        </div>
      </div>
      <div class="step">
        <div style="height: 50px"><mat-icon class="icon">star</mat-icon></div>
        <div class="numero-wrap">
          <div class="numero">3</div>
          <div class="rotulo"><b>Puntua</b></div>
        </div>
        <div class="step-desc">
          Puntua al usuario con el que hayas realizado el intercambio de una
          manera rapida y eficaz. También es posible puntuar las diferentes
          palas que has utilizado i dar una pequeña valoracion para que los
          demas usuarios puedan tener referencias de las diferentes palas.
        </div>
      </div>
    </div>
  </div>
</section>
<section style="background-color: rgb(221, 217, 212); padding-top: 30px">
  <h1 style="text-align: center; font-weight: 600">Ultimos anuncios</h1>
  <div class="advert-wrapperr">
    <div
      class="advert"
      *ngFor="let advert of adverts.slice(0, 5)"
      [routerLink]="['/advert', advert._id]"
    >
      <app-anuncio [data]="advert"></app-anuncio>
    </div>
  </div>
</section>
<section style="padding-top: 30px">
  <h1 style="text-align: center; font-weight: 600">Palas mas vistas</h1>
  <div class="rackets-wrapper">
    <div class="racket" *ngFor="let racket of rackets.slice(0, 5)">
      <img
        [src]="'/assets/imgs/rackets/' + racket.img"
        alt=""
        class="racket-img"
      />
      <div
        style="
          max-width: 100%;
          word-break: break-all;
          max-height: 40px;
          height: 40px;
        "
      >
        {{ racket.name }}
      </div>
    </div>
  </div>
</section>
<section>
  <div class="brands">
    <h1 style="text-align: center; font-weight: 600">Marcas</h1>
    <img src="/assets/imgs/brands/adidas.png" alt="" />
    <img src="/assets/imgs/brands/head.png" alt="" />
    <img src="/assets/imgs/brands/bullpadel.png" alt="" />
    <img src="/assets/imgs/brands/kuikma.png" alt="" />
    <img src="/assets/imgs/brands/siux.png" alt="" />
    <img src="/assets/imgs/brands/puma.png" alt="" />
    <img src="/assets/imgs/brands/varlion.png" alt="" />
    <img src="/assets/imgs/brands/wilson.png" alt="" />
  </div>
</section>
