<div class="navbar-wrapper">
  <div class="logo-wrapper">PadelChange</div>
  <div class="section-wrapper"><a href="">Ver Anuncios</a></div>
  <div class="section-wrapper"><a href="">Ver palas</a></div>
  <div class="right-side-navbar">
    <div class="notification-wrapper">
      <div class="red-circle">2</div>
      <mat-icon class="chat-icon-nav"> chat_bubble</mat-icon>
    </div>
    <div class="message-wrapper">
      <div class="red-circle">2</div>
      <mat-icon class="bell-icon-nav">notifications</mat-icon>
    </div>
    <div class="profile-wrapper">
      <div>
        <img
          class="profile-pic"
          src="assets/imgs/user-image-default.png"
          alt="profile-pic"
        />
      </div>
    </div>
  </div>
</div>
