<div class="navbar-wrapper">
  <div (click)="changeSidemenu()" class="menu-icon">
    <mat-icon style="font-size: 35px; height: 35px; width: 35px">menu</mat-icon>
  </div>
  <a class="logoa-wrapper" routerLink="/"
    ><div class="logo-wrapper">
      PadelChange {{ userData.admin ? "[ADMIN]" : null }}
    </div></a
  >
  <div class="section-wrapper"><a routerLink="/adverts" i18n>Anuncios</a></div>
  <div class="section-wrapper"><a routerLink="/rackets" i18n>Palas</a></div>
  <div class="section-wrapper" *ngIf="userData.admin">
    <a routerLink="/petitions" i18n>Peticiones de palas</a>
  </div>
  <div class="right-side-navbar">
    <div
      [routerLink]="'/chat'"
      class="notification-wrapper"
      *ngIf="isLoggedIn()"
    >
      <div [routerLink]="'/chat'" *ngIf="this.numChats$ > 0" class="red-circle">
        {{ this.numChats$ }}
      </div>
      <a [routerLink]="'/chat'">
        <i
          style="font-size: 30px; color: black"
          class="fas fa-regular fa-envelope"
        ></i>
      </a>
    </div>
    <div class="profile-wrapper" tabindex="0">
      <div *ngIf="isLoggedIn()">
        <div class="image-menu" (click)="changeSubmenu()">
          <img
            class="profile-pic"
            [src]="apiImgUrl + getUserImage()"
            alt="profile-pic"
          />
        </div>
        <div class="sub-menu" *ngIf="submenu">
          <a routerLink="/profile/edit" (click)="changeSubmenu()"
            ><li i18n>Editar perfil</li></a
          >
          <a [routerLink]="['/profile', getUserId()]">
            <li (click)="changeSubmenu()" i18n>Ver perfil</li>
          </a>
          <a [routerLink]="['/myadverts']">
            <li (click)="changeSubmenu()">Ver anuncios</li>
          </a>
          <li (click)="logout(); changeSubmenu()"><a i18n>Cerrar sesión</a></li>
        </div>
      </div>
      <div style="margin-right: 50px" *ngIf="!isLoggedIn()">
        <div class="image-menu">
          <a routerLink="/login"
            ><button class="button-1" i18n>Iniciar sesión</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="this.sidemenu == true" class="sidemenu">
  <div
    style="display: flex; padding-left: 10px; align-items: center"
    *ngIf="isLoggedIn()"
  >
    <div>
      <img
        style="margin-right: 25px"
        class="profile-pic"
        [src]="apiImgUrl + getUserImage()"
        alt="profile-pic"
      />
    </div>
    <div style="display: flex">
      {{ this.userData.name }}
    </div>
  </div>
  <div *ngIf="isLoggedIn()" routerLink="/profile/edit" class="item-div">
    <mat-icon>person_outline</mat-icon>Editar perfil
  </div>
  <div
    *ngIf="isLoggedIn()"
    [routerLink]="['/profile', getUserId()]"
    class="item-div"
  >
    <mat-icon>person_outline</mat-icon>Ver perfil
  </div>
  <div *ngIf="isLoggedIn()" [routerLink]="['/myadverts']" class="item-div">
    <mat-icon> format_list_bulleted</mat-icon>Mis anuncios
  </div>
  <div [routerLink]="['/login']" *ngIf="!isLoggedIn()" class="item-div">
    <mat-icon>person_outline</mat-icon>Iniciar sesión
  </div>
  <hr style="width: 95%" />
  <div [routerLink]="['/']" class="item-div">
    <mat-icon> home</mat-icon>Home
  </div>
  <div [routerLink]="['/adverts']" class="item-div">
    <mat-icon> format_list_bulleted</mat-icon>Ver Anuncios
  </div>
  <div [routerLink]="['/rackets']" class="item-div">
    <mat-icon> format_list_bulleted</mat-icon>Ver Palas
  </div>
  <div [routerLink]="['/chat']" class="item-div">
    <mat-icon> mail_outline</mat-icon>Chats
  </div>
  <hr style="width: 95%" />
  <div class="item-div" *ngIf="isLoggedIn()" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>Cerrar sesión
  </div>
</div>
