<div class="page-wrapper">
  <div class="login-wrapper">
    <h2>Iniciar sesión</h2>
    <hr />
    <div class="login-fields">
      <form class="login-form" action="">
        <label class="label-form" for="">Email</label>
        <input
          type="text"
          placeholder="Dirección de correo electrónico"
          required
        />
        <label class="label-form" for="">Contraseña</label>
        <input
          type="password"
          placeholder="********"
          required
          [type]="hide ? 'password' : 'text'"
        />
        <p>¿No tienes una cuenta? <a>Regístrate</a></p>
        <input type="submit" value="Iniciar sesión" />
      </form>
    </div>
  </div>
</div>
