.page-wrapper {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  min-height: 100vh;
}
.login-wrapper {
  margin: auto;
  width: 615px;
  height: 410px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 8px 8px -4px #a4a8a9;
}

label {
  padding: 10px 0px;
}

input[type="text"],
[type="password"],
select {
  font-size: 16px;
  width: 83%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.login-wrapper h2 {
  padding-top: 20px;
  text-align: center;
  font-size: 30px;
}

.login-wrapper hr {
  width: 70%;
}

.login-fields {
  margin-left: 15%;
}

.label-form {
  display: block;
}

input[type="submit"] {
  font-size: 16px;
  font-weight: 600;
  margin-left: 500px;
  width: 50%;
  background-color: #016dd9;

  color: white;
  padding: 14px 20px;
  margin: 30px 90px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #004285;
  border-color: white;
}
hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
