<div class="page-wrapper">
  <div class="tools-wrapper">
    <div class="row-wrapper">
      <div class="filter-wrapper">
        <mat-form-field appearance="fill">
          <mat-label>Filtrar por</mat-label>
          <mat-select>
            <mat-option>None</mat-option>
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="order-wrapper">
        <mat-form-field appearance="fill">
          <mat-label>Ordenar por</mat-label>
          <mat-select>
            <mat-option>None</mat-option>
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="search-wrapper">
        <mat-label>Buscar</mat-label>
        <input matInput placeholder="Busca tu pala" value="" />
      </div>
    </div>
  </div>
  <div class="cards-wrapper">
    <div class="rackets-wrapper" *ngFor="let racket of racketsData">
      <app-pala [data]="racket"></app-pala>
    </div>
  </div>
</div>
