<div class="page-wrapper">
  <div class="tools-wrapper">
    <div class="row-wrapper">
      <div class="filter-wrapper">
        <mat-select
          style="border: 1px solid; border-radius: 5px; padding: 6px"
          [(value)]="brandSelected"
          (selectionChange)="onFilter()"
        >
          <mat-option value="Sin filtrar" i18n>Sin filtrar</mat-option>
          <mat-option *ngFor="let brand of brands" [value]="brand">{{
            brand
          }}</mat-option>
        </mat-select>
      </div>
      <div class="order-wrapper">
        <mat-select
          style="border: 1px solid; border-radius: 5px; padding: 6px"
          [(value)]="orderSelected"
          (selectionChange)="onSelect()"
        >
          <mat-option value="No ordenar" i18n>No ordenar</mat-option>
          <mat-option value="priceasc" i18n>Precio(Más Alto)</mat-option>
          <mat-option value="pricedesc" i18n>Precio(Más Bajo)</mat-option>
          <mat-option value="nameasc" i18n>Nombre (A-Z)</mat-option>
          <mat-option value="namedesc" i18n>Nombre (Z-A)</mat-option>
          <mat-option value="season" i18n>Temporada</mat-option>
        </mat-select>
      </div>
      <div style="width: 100%; text-align: center">
        <a routerLink="/rackets/create" i18n>No encuentra su pala?</a>
      </div>
      <div class="search-wrapper">
        <mat-label i18n>Buscar</mat-label>
        <input
          matInput
          class="search-input"
          placeholder="Busca tu pala.."
          #txtSearch
          (keyup)="onSearchRacket(txtSearch.value)"
        />
      </div>
    </div>
  </div>
  <div class="cards-wrapper">
    <div
      class="rackets-wrapper"
      *ngFor="
        let racket of racketsData
          | racketFiltro : page : brandSelected : search : orderSelected
      "
    >
      <app-pala [data]="racket"></app-pala>
    </div>
  </div>
  <div class="buttons-wrapper">
    <button class="btn" (click)="prevPage()" i18n>Anterior</button>
    <button class="btn" (click)="nextPage()" i18n>Siguiente</button>
  </div>
</div>
