<div class="page-wrapper">
  <div class="register-wrapper">
    <h2>Registrate</h2>
    <hr />
    <div class="register-fields">
      <form class="register-form" action="">
        <label class="label-form" for="">Nombre y apellidos:</label>
        <input type="text" placeholder="Nombre y apellidos"/>
        <label class="label-form" for="">Email:</label>
        <input type="text" placeholder="Correo electrónico"/>
        <label class="label-form" for="">Contraseña:</label>
        <input type="password" placeholder="********"/>
        <label class="label-form" for="">Confirmar contraseña:</label>
        <input type="password" placeholder="********"/>
        <input type="submit" value="Registrate"/>
      </form>
    </div>
  </div>
</div>
