<div class="confirm-wrapper">
  <div
    style="
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    "
  >
    <img
      style="height: 150px; margin-bottom: 20px"
      src="assets/imgs/svg/question.svg"
    />
    <h2 style="color: gray">Estas seguro que deseas finalizar el anuncio?</h2>
    Una vez finalizado no podras abrirlo de nuevo.
  </div>

  <div class="buttons">
    <button (click)="finishAdvert()" class="green-button">Finalizar</button>
    <button (click)="closeModal()" class="white-button">Cancelar</button>
  </div>
</div>
