<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4 i18n>PadelChange</h4>
        <ul>
          <li><a href="#" i18n>Sobre nosotros</a></li>
          <li><a href="#" i18n>Nuestros servicios</a></li>
          <li><a href="#" i18n>Politicas de privacidad</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4 i18n>ayuda</h4>
        <ul>
          <li><a href="#" i18n>FAQ</a></li>
          <li><a href="#" i18n>shipping</a></li>
          <li><a href="#" i18n>returns</a></li>
          <li><a href="#" i18n>order status</a></li>
          <li><a href="#" i18n>payment options</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4 i18n>Legal</h4>
        <ul>
          <li><a href="#" i18n>watch</a></li>
          <li><a href="#" i18n>bag</a></li>
          <li><a href="#" i18n>shoes</a></li>
          <li><a href="#" i18n>dress</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4 i18n>siguenos</h4>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
